.scroll-container {
  overflow: auto;
  position: fixed;
  @include column;
  align-items: center;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}
/* Media query for lager devices (computers) */

@media only screen and (min-width: $max-size-desktop) {
}

/* Media query for mini devices (tablets) */

@media only screen and (min-width: $max-size-mobile) and (max-width: $max-size-tablet) {
}

/* Media query for small devices (mobiles) */

@media only screen and (max-width: $max-size-mobile) {
}
